<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar>
    <ion-title slot="center">
      Mis citas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <strong><ion-icon name="calendar-outline"></ion-icon> Sin citas</strong>
    <p>Usted no ha pautado ninguna cita todavia</p>
    <hr>
    <p>Presenta usted algun malestar que pueda relacionarse a COVID-19?</p>
    <ion-button>Saber que hacer</ion-button>
  </div>
</ion-content>
