<ion-content>
  <ion-item-group style="margin-top: 30%;">
    <ion-item style="margin-bottom: 20px;" lines="none">
      <ion-thumbnail style="margin-left: auto; margin-right: auto; width: 150px; height: 150px;">
        <ion-img src="https://i.pinimg.com/originals/72/a2/02/72a2027b417410f1381ce25d3190bff7.png"></ion-img>
      </ion-thumbnail>
    </ion-item>
    <ion-item lines="none">
     <div style="margin-right: auto; margin-left: auto;">
      <label style="color: red; font-size: 95%;" *ngIf="error">Usuario o Clave invalido</label>
     </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input placeholder="Nombre de usuario o correo" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contrasena</ion-label>
      <ion-input type="password" placeholder="Introduzca su contrasena"[(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-item-group style="margin-top: 40px;">
    <ion-button expand="full" (click)="onLogin()">
      Iniciar Sesion
    </ion-button>
    <ion-button expand="full" color="success">
      Registrate
      </ion-button>
  </ion-item-group>
</ion-content>